{% extends 'base.html' %}

{% block title %}Log in - StudyBuddy{% endblock %}

{% block content %}


<div class="sb-auth">

    <div class="sb-auth__card">

        <div
            class="sb-auth__mark"
            aria-hidden="true"
        >
            <svg viewBox="0 0 24 24" width="26" height="26" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 5.5A2.5 2.5 0 0 1 6.5 3H20v15H6.5A2.5 2.5 0 0 0 4 20.5z"></path><path d="M4 20.5A2.5 2.5 0 0 1 6.5 18H20v3H6.5A2.5 2.5 0 0 1 4 20.5z"></path><path d="M9 7.5h7"></path></svg>
        </div>


        <h1 class="sb-auth__title">
            Welcome back
        </h1>

        <p class="sb-auth__sub">
            Log in to pick up where you left off.
        </p>


        {% if form.errors %}

            <div
                class="sb-form-error"
                role="alert"
            >
                Your username or password is not correct.
            </div>

        {% endif %}


        <form
            method="post"
            action="{% url 'login' %}"
            novalidate
        >

            {% csrf_token %}

            <input
                type="hidden"
                name="next"
                value="{{ next }}"
            >


            <div class="sb-field">

                <label
                    class="sb-label"
                    for="id_username"
                >
                    Username
                </label>

                <input
                    type="text"
                    name="username"
                    id="id_username"
                    class="sb-input"
                    value="{{ form.username.value|default:'' }}"
                    autocomplete="username"
                    autofocus
                    required
                >

            </div>


            <div class="sb-field">

                <label
                    class="sb-label"
                    for="id_password"
                >
                    Password
                </label>

                <input
                    type="password"
                    name="password"
                    id="id_password"
                    class="sb-input"
                    autocomplete="current-password"
                    required
                >

            </div>


            <div class="sb-form-actions">

                <button
                    type="submit"
                    class="sb-btn sb-btn--primary sb-btn--lg sb-btn--block"
                >
                    Log in
                </button>

            </div>

        </form>


        <div class="sb-auth__links">

            <span>Forgot your password?</span>

            <a href="{% url 'password_reset' %}">
                Reset it
            </a>

            <span aria-hidden="true">&middot;</span>

            <a href="{% url 'register' %}">
                Create an account
            </a>

        </div>

    </div>

</div>


{% endblock %}
